.bureger-menu-cart-login-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.bureger-menu-cart-login-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.bureger-menu-cart-login-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.bureger-menu-cart-login-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.bureger-menu-cart-login-image {
  width: 200px;
  object-fit: cover;
}
.bureger-menu-cart-login-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bureger-menu-cart-login-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.bureger-menu-cart-login-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.bureger-menu-cart-login-login {
  display: flex;
  box-shadow: 0px 5px 10px 0px #7e7b7b;
  font-style: normal;
  font-weight: 700;
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  text-transform: capitalize;
  background-color: rgb(255, 193, 0);
}
.bureger-menu-cart-login-icon02 {
  width: 24px;
  height: 24px;
}
.bureger-menu-cart-login-register {
  display: flex;
  box-shadow: rgb(126, 123, 123) 0px 5px 10px 0px;
  font-style: normal;
  font-weight: 700;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  text-transform: capitalize;
  background-color: rgb(255, 190, 0);
}
.bureger-menu-cart-login-icon04 {
  width: 24px;
  height: 24px;
}
.bureger-menu-cart-login-container02 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.bureger-menu-cart-login-form {
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bureger-menu-cart-login-categories {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.bureger-menu-cart-login-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.bureger-menu-cart-login-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.bureger-menu-cart-login-container03 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.bureger-menu-cart-login-image1 {
  width: 200px;
  object-fit: cover;
}
.bureger-menu-cart-login-menu-close1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bureger-menu-cart-login-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.bureger-menu-cart-login-btn-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.bureger-menu-cart-login-login1 {
  display: flex;
  box-shadow: 0px 5px 10px 0px #7e7b7b;
  font-style: normal;
  font-weight: 700;
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  text-transform: capitalize;
  background-color: rgb(255, 193, 0);
}
.bureger-menu-cart-login-icon08 {
  width: 24px;
  height: 24px;
}
.bureger-menu-cart-login-register1 {
  display: flex;
  box-shadow: rgb(126, 123, 123) 0px 5px 10px 0px;
  font-style: normal;
  font-weight: 700;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  text-transform: capitalize;
  background-color: rgb(255, 190, 0);
}
.bureger-menu-cart-login-icon10 {
  width: 24px;
  height: 24px;
}
.bureger-menu-cart-login-container04 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.bureger-menu-cart-login-form1 {
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bureger-menu-cart-login-container05 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.bureger-menu-cart-login-container06 {
  flex: 0 0 auto;
  width: 180px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.bureger-menu-cart-login-container07 {
  flex: 0 0 auto;
  width: 180px;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.bureger-menu-cart-login-header {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: #D9D9D9;
}
.bureger-menu-cart-login-image2 {
  width: 200px;
  object-fit: cover;
}
.bureger-menu-cart-login-navlink {
  display: contents;
}
.bureger-menu-cart-login-icon12 {
  width: 24px;
  height: 24px;
  display: none;
  text-decoration: none;
}
.bureger-menu-cart-login-container08 {
  width: 377px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bureger-menu-cart-login-form2 {
  width: 419px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bureger-menu-cart-login-textinput2 {
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  text-transform: capitalize;
}
.bureger-menu-cart-login-button18 {
  box-shadow: 0px 5px 10px 0px #7e7b7b;
  margin-left: 10px;
  border-width: 0px;
  margin-right: 10px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #ff7c00;
}
.bureger-menu-cart-login-text18 {
  font-style: normal;
  font-weight: 700;
}
.bureger-menu-cart-login-btn-group2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.bureger-menu-cart-login-login2 {
  display: flex;
  box-shadow: 0px 5px 10px 0px #7e7b7b;
  font-style: normal;
  font-weight: 700;
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  text-transform: capitalize;
  text-decoration: none;
  background-color: rgb(255, 193, 0);
}
.bureger-menu-cart-login-icon14 {
  width: 24px;
  height: 24px;
  align-self: center;
}
.bureger-menu-cart-login-text21 {
  align-self: center;
  text-align: center;
}
.bureger-menu-cart-login-register2 {
  display: flex;
  box-shadow: rgb(126, 123, 123) 0px 5px 10px 0px;
  font-style: normal;
  font-weight: 700;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  text-transform: capitalize;
  text-decoration: none;
  background-color: rgb(255, 190, 0);
}
.bureger-menu-cart-login-icon16 {
  width: 24px;
  height: 24px;
  align-self: center;
}
.bureger-menu-cart-login-text22 {
  align-self: center;
  text-align: center;
}
.bureger-menu-cart-login-body {
  width: 100%;
  height: 628px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #F3F3F3;
}
.bureger-menu-cart-login-categories1 {
  width: 100%;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bureger-menu-cart-login-navlink1 {
  width: 210px;
  height: 100%;
  font-size: 16px;
  box-shadow: rgb(126, 123, 123) 0px 5px 10px 0px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-color: rgb(255, 193, 0);
}
.bureger-menu-cart-login-button19 {
  width: 210px;
  height: 100%;
  box-shadow: rgb(126, 123, 123) 0px 5px 10px 0px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgb(255, 193, 0);
}
.bureger-menu-cart-login-button20 {
  width: 210px;
  height: 100%;
  box-shadow: rgb(126, 123, 123) 0px 5px 10px 0px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgb(255, 193, 0);
}
.bureger-menu-cart-login-button21 {
  width: 210px;
  height: 100%;
  box-shadow: 0px 5px 10px 0px #7e7b7b;
  text-align: center;
  padding-top: 0px;
  padding-left: 5px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 5px;
  padding-bottom: 0px;
  background-color: #ffc100;
}
.bureger-menu-cart-login-text25 {
  font-style: normal;
  font-weight: 600;
}
.bureger-menu-cart-login-button22 {
  width: 210px;
  height: 100%;
  box-shadow: rgb(126, 123, 123) 0px 5px 10px 0px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgb(255, 193, 0);
}
.bureger-menu-cart-login-button23 {
  width: 210px;
  height: 100%;
  box-shadow: rgb(126, 123, 123) 0px 5px 10px 0px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgb(255, 193, 0);
}
.bureger-menu-cart-login-button24 {
  width: 210px;
  height: 100%;
  box-shadow: rgb(126, 123, 123) 0px 5px 10px 0px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgb(255, 193, 0);
}
.bureger-menu-cart-login-button25 {
  width: 210px;
  height: 100%;
  box-shadow: rgb(126, 123, 123) 0px 5px 10px 0px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgb(255, 193, 0);
}
.bureger-menu-cart-login-search {
  flex: 0 0 auto;
  width: 100%;
  height: var(--dl-size-size-medium);
  display: flex;
  align-items: center;
  justify-content: center;
}
.bureger-menu-cart-login-button26 {
  box-shadow: 0px 5px 10px 0px #7e7b7b;
  margin-left: var(--dl-space-space-halfunit);
  border-width: 0px;
  margin-right: var(--dl-space-space-halfunit);
  background-color: #ff7c00;
}
.bureger-menu-cart-login-text28 {
  font-style: normal;
  font-weight: 700;
}
.bureger-menu-cart-login-form3 {
  width: 335px;
  height: 43px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.bureger-menu-cart-login-image3 {
  width: 100%;
  height: 380px;
  object-fit: cover;
}
.bureger-menu-cart-login-mobile-menu2 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.bureger-menu-cart-login-nav2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.bureger-menu-cart-login-container09 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.bureger-menu-cart-login-image4 {
  width: 200px;
  object-fit: cover;
}
.bureger-menu-cart-login-menu-close2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bureger-menu-cart-login-navlink2 {
  display: contents;
}
.bureger-menu-cart-login-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  text-decoration: none;
}
.bureger-menu-cart-login-btn-group3 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.bureger-menu-cart-login-login3 {
  display: flex;
  box-shadow: 0px 5px 10px 0px #7e7b7b;
  font-style: normal;
  font-weight: 700;
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  text-transform: capitalize;
  text-decoration: none;
  background-color: rgb(255, 193, 0);
}
.bureger-menu-cart-login-icon20 {
  width: 24px;
  height: 24px;
  align-self: center;
}
.bureger-menu-cart-login-text29 {
  align-self: center;
  text-align: center;
}
.bureger-menu-cart-login-register3 {
  display: flex;
  box-shadow: rgb(126, 123, 123) 0px 5px 10px 0px;
  font-style: normal;
  font-weight: 700;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  text-transform: capitalize;
  text-decoration: none;
  background-color: rgb(255, 190, 0);
}
.bureger-menu-cart-login-icon22 {
  width: 24px;
  height: 24px;
  align-self: center;
}
.bureger-menu-cart-login-text30 {
  align-self: center;
  text-align: center;
}
.bureger-menu-cart-login-container10 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.bureger-menu-cart-login-form4 {
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bureger-menu-cart-login-container11 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.bureger-menu-cart-login-container12 {
  flex: 0 0 auto;
  width: 180px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.bureger-menu-cart-login-navlink3 {
  text-decoration: none;
}
.bureger-menu-cart-login-container13 {
  flex: 0 0 auto;
  width: 180px;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
@media(max-width: 1600px) {
  .bureger-menu-cart-login-icon12 {
    display: none;
  }
  .bureger-menu-cart-login-container08 {
    width: 371px;
  }
  .bureger-menu-cart-login-form2 {
    width: 100%;
  }
  .bureger-menu-cart-login-navlink1 {
    font-size: 15px;
    box-shadow: rgb(126, 123, 123) 0px 5px 10px 0px;
    font-style: inherit;
    font-weight: 600;
    text-decoration: none;
    background-color: rgb(255, 193, 0);
  }
  .bureger-menu-cart-login-button19 {
    background-color: rgb(255, 193, 0);
  }
  .bureger-menu-cart-login-text25 {
    font-size: 15px;
  }
  .bureger-menu-cart-login-button22 {
    background-color: rgb(255, 193, 0);
  }
  .bureger-menu-cart-login-image3 {
    height: 379px;
  }
}
@media(max-width: 1200px) {
  .bureger-menu-cart-login-login {
    box-shadow: rgb(126, 123, 123) 0px 5px 10px 0px;
    font-style: normal;
    font-weight: 700;
    text-transform: capitalize;
    background-color: rgb(255, 193, 0);
  }
  .bureger-menu-cart-login-icon02 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    align-self: center;
  }
  .bureger-menu-cart-login-text {
    align-self: center;
  }
  .bureger-menu-cart-login-register {
    box-shadow: rgb(126, 123, 123) 0px 5px 10px 0px;
    font-style: normal;
    font-weight: 700;
    text-transform: capitalize;
    background-color: rgb(255, 190, 0);
  }
  .bureger-menu-cart-login-icon04 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    align-self: center;
  }
  .bureger-menu-cart-login-text01 {
    align-self: center;
  }
  .bureger-menu-cart-login-container02 {
    width: 526px;
    justify-content: center;
  }
  .bureger-menu-cart-login-form {
    width: 526px;
    margin-right: 0px;
    justify-content: flex-end;
  }
  .bureger-menu-cart-login-textinput {
    width: 262px;
  }
  .bureger-menu-cart-login-button {
    margin-left: 15px;
  }
  .bureger-menu-cart-login-categories {
    margin-top: 8px;
  }
  .bureger-menu-cart-login-button01 {
    font-weight: 400;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .bureger-menu-cart-login-button02 {
    padding: 0px;
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
    background-color: rgb(255, 193, 0);
  }
  .bureger-menu-cart-login-button05 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .bureger-menu-cart-login-button08 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .bureger-menu-cart-login-login1 {
    box-shadow: rgb(126, 123, 123) 0px 5px 10px 0px;
    font-style: normal;
    font-weight: 700;
    text-transform: capitalize;
    background-color: rgb(255, 193, 0);
  }
  .bureger-menu-cart-login-icon08 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    align-self: center;
  }
  .bureger-menu-cart-login-text09 {
    align-self: center;
  }
  .bureger-menu-cart-login-register1 {
    box-shadow: rgb(126, 123, 123) 0px 5px 10px 0px;
    font-style: normal;
    font-weight: 700;
    text-transform: capitalize;
    background-color: rgb(255, 190, 0);
  }
  .bureger-menu-cart-login-icon10 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    align-self: center;
  }
  .bureger-menu-cart-login-text10 {
    align-self: center;
  }
  .bureger-menu-cart-login-container04 {
    width: 526px;
    justify-content: center;
  }
  .bureger-menu-cart-login-form1 {
    width: 526px;
    margin-right: 0px;
    justify-content: flex-end;
  }
  .bureger-menu-cart-login-textinput1 {
    width: 262px;
  }
  .bureger-menu-cart-login-button09 {
    margin-left: 15px;
  }
  .bureger-menu-cart-login-button10 {
    font-weight: 400;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .bureger-menu-cart-login-button12 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .bureger-menu-cart-login-button14 {
    padding: 0px;
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
    background-color: rgb(255, 193, 0);
  }
  .bureger-menu-cart-login-button17 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .bureger-menu-cart-login-icon12 {
    display: none;
  }
  .bureger-menu-cart-login-container08 {
    width: 365px;
    justify-content: center;
  }
  .bureger-menu-cart-login-form2 {
    width: 526px;
    margin-right: 0px;
    justify-content: flex-end;
  }
  .bureger-menu-cart-login-textinput2 {
    width: 262px;
  }
  .bureger-menu-cart-login-button18 {
    margin-left: 15px;
  }
  .bureger-menu-cart-login-login2 {
    box-shadow: rgb(126, 123, 123) 0px 5px 10px 0px;
    font-style: normal;
    font-weight: 700;
    text-transform: capitalize;
    background-color: rgb(255, 193, 0);
  }
  .bureger-menu-cart-login-icon14 {
    width: 24px;
    height: 24px;
    align-self: center;
  }
  .bureger-menu-cart-login-text21 {
    align-self: center;
  }
  .bureger-menu-cart-login-register2 {
    box-shadow: rgb(126, 123, 123) 0px 5px 10px 0px;
    font-style: normal;
    font-weight: 700;
    text-transform: capitalize;
    background-color: rgb(255, 190, 0);
  }
  .bureger-menu-cart-login-text22 {
    align-self: center;
  }
  .bureger-menu-cart-login-text23 {
    align-self: center;
  }
  .bureger-menu-cart-login-body {
    padding: 24px;
    background-color: #f3f3f3;
  }
  .bureger-menu-cart-login-categories1 {
    height: 64px;
    margin-top: 8px;
  }
  .bureger-menu-cart-login-navlink1 {
    font-size: 15px;
    box-shadow: rgb(126, 123, 123) 0px 5px 10px 0px;
    font-style: inherit;
    font-weight: 600;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    text-decoration: none;
    background-color: rgb(255, 193, 0);
  }
  .bureger-menu-cart-login-button19 {
    padding: 0px;
    font-size: 14px;
    box-shadow: rgb(126, 123, 123) 0px 5px 10px 0px;
    font-style: normal;
    font-weight: 600;
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
    background-color: rgb(255, 193, 0);
  }
  .bureger-menu-cart-login-button20 {
    font-size: 15px;
    background-color: rgb(255, 193, 0);
  }
  .bureger-menu-cart-login-text25 {
    font-size: 14px;
  }
  .bureger-menu-cart-login-button22 {
    font-size: 15px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    background-color: rgb(255, 193, 0);
  }
  .bureger-menu-cart-login-button23 {
    font-size: 15px;
    background-color: rgb(255, 193, 0);
  }
  .bureger-menu-cart-login-button24 {
    font-size: 15px;
    background-color: rgb(255, 193, 0);
  }
  .bureger-menu-cart-login-button25 {
    font-size: 15px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    background-color: rgb(255, 193, 0);
  }
  .bureger-menu-cart-login-search {
    align-items: flex-start;
  }
  .bureger-menu-cart-login-button26 {
    align-self: center;
  }
  .bureger-menu-cart-login-image3 {
    width: 100%;
  }
  .bureger-menu-cart-login-login3 {
    box-shadow: rgb(126, 123, 123) 0px 5px 10px 0px;
    font-style: normal;
    font-weight: 700;
    text-transform: capitalize;
    background-color: rgb(255, 193, 0);
  }
  .bureger-menu-cart-login-icon20 {
    width: 24px;
    height: 24px;
    align-self: center;
  }
  .bureger-menu-cart-login-text29 {
    align-self: center;
  }
  .bureger-menu-cart-login-register3 {
    box-shadow: rgb(126, 123, 123) 0px 5px 10px 0px;
    font-style: normal;
    font-weight: 700;
    text-transform: capitalize;
    background-color: rgb(255, 190, 0);
  }
  .bureger-menu-cart-login-text30 {
    align-self: center;
  }
  .bureger-menu-cart-login-text31 {
    align-self: center;
  }
  .bureger-menu-cart-login-container10 {
    width: 526px;
    justify-content: center;
  }
  .bureger-menu-cart-login-form4 {
    width: 526px;
    margin-right: 0px;
    justify-content: flex-end;
  }
  .bureger-menu-cart-login-textinput3 {
    width: 262px;
  }
  .bureger-menu-cart-login-button27 {
    margin-left: 15px;
  }
  .bureger-menu-cart-login-navlink3 {
    font-weight: 400;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .bureger-menu-cart-login-button29 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .bureger-menu-cart-login-button31 {
    padding: 0px;
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
    background-color: rgb(255, 193, 0);
  }
  .bureger-menu-cart-login-button34 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 991px) {
  .bureger-menu-cart-login-login {
    width: 126px;
  }
  .bureger-menu-cart-login-text {
    font-size: 14px;
  }
  .bureger-menu-cart-login-register {
    width: 143px;
    margin-right: 2px;
    padding-left: var(--dl-space-space-unit);
  }
  .bureger-menu-cart-login-text01 {
    font-size: 14px;
  }
  .bureger-menu-cart-login-container02 {
    width: 445px;
  }
  .bureger-menu-cart-login-form {
    width: 421px;
  }
  .bureger-menu-cart-login-button01 {
    font-size: 14px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .bureger-menu-cart-login-button02 {
    font-size: 14px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .bureger-menu-cart-login-button03 {
    font-size: 14px;
    box-shadow: rgb(163, 154, 127) 5px 5px 10px 0px;
    background-color: rgb(255, 193, 0);
  }
  .bureger-menu-cart-login-text05 {
    font-size: 14px;
  }
  .bureger-menu-cart-login-button05 {
    font-size: 14px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .bureger-menu-cart-login-button06 {
    font-size: 14px;
    box-shadow: rgb(163, 154, 127) 5px 5px 10px 0px;
    background-color: rgb(255, 193, 0);
  }
  .bureger-menu-cart-login-button07 {
    font-size: 14px;
    box-shadow: rgb(163, 154, 127) 5px 5px 10px 0px;
    background-color: rgb(255, 193, 0);
  }
  .bureger-menu-cart-login-button08 {
    font-size: 14px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .bureger-menu-cart-login-login1 {
    width: 126px;
  }
  .bureger-menu-cart-login-text09 {
    font-size: 14px;
  }
  .bureger-menu-cart-login-register1 {
    width: 143px;
    margin-right: 2px;
    padding-left: var(--dl-space-space-unit);
  }
  .bureger-menu-cart-login-text10 {
    font-size: 14px;
  }
  .bureger-menu-cart-login-container04 {
    width: 445px;
  }
  .bureger-menu-cart-login-form1 {
    width: 421px;
  }
  .bureger-menu-cart-login-button10 {
    font-size: 14px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .bureger-menu-cart-login-button11 {
    font-size: 14px;
    box-shadow: rgb(163, 154, 127) 5px 5px 10px 0px;
    background-color: rgb(255, 193, 0);
  }
  .bureger-menu-cart-login-button12 {
    font-size: 14px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .bureger-menu-cart-login-button13 {
    font-size: 14px;
    box-shadow: rgb(163, 154, 127) 5px 5px 10px 0px;
    background-color: rgb(255, 193, 0);
  }
  .bureger-menu-cart-login-button14 {
    font-size: 14px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .bureger-menu-cart-login-text14 {
    font-size: 14px;
  }
  .bureger-menu-cart-login-button16 {
    font-size: 14px;
    box-shadow: rgb(163, 154, 127) 5px 5px 10px 0px;
    background-color: rgb(255, 193, 0);
  }
  .bureger-menu-cart-login-button17 {
    font-size: 14px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .bureger-menu-cart-login-header {
    height: 146px;
  }
  .bureger-menu-cart-login-icon12 {
    display: none;
  }
  .bureger-menu-cart-login-container08 {
    width: 366px;
  }
  .bureger-menu-cart-login-form2 {
    width: 292px;
  }
  .bureger-menu-cart-login-textinput2 {
    width: 178px;
  }
  .bureger-menu-cart-login-login2 {
    width: 117px;
    height: 31px;
    margin-right: var(--dl-space-space-unit);
  }
  .bureger-menu-cart-login-text21 {
    font-size: 12px;
  }
  .bureger-menu-cart-login-register2 {
    width: 94px;
    height: 30px;
    margin-right: 2px;
    padding-left: var(--dl-space-space-unit);
  }
  .bureger-menu-cart-login-text22 {
    font-size: 11px;
  }
  .bureger-menu-cart-login-text23 {
    font-size: 11px;
  }
  .bureger-menu-cart-login-body {
    height: 535px;
  }
  .bureger-menu-cart-login-navlink1 {
    font-size: 14px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .bureger-menu-cart-login-button19 {
    font-size: 14px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .bureger-menu-cart-login-button20 {
    font-size: 14px;
    box-shadow: rgb(163, 154, 127) 5px 5px 10px 0px;
    background-color: rgb(255, 193, 0);
  }
  .bureger-menu-cart-login-button21 {
    padding-left: 5px;
    padding-right: 5px;
  }
  .bureger-menu-cart-login-text25 {
    font-size: 14px;
  }
  .bureger-menu-cart-login-button22 {
    font-size: 14px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .bureger-menu-cart-login-button23 {
    font-size: 14px;
    box-shadow: rgb(163, 154, 127) 5px 5px 10px 0px;
    background-color: rgb(255, 193, 0);
  }
  .bureger-menu-cart-login-button24 {
    font-size: 14px;
    box-shadow: rgb(163, 154, 127) 5px 5px 10px 0px;
    background-color: rgb(255, 193, 0);
  }
  .bureger-menu-cart-login-button25 {
    font-size: 14px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .bureger-menu-cart-login-form3 {
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .bureger-menu-cart-login-image3 {
    width: 100%;
    height: 300px;
  }
  .bureger-menu-cart-login-login3 {
    width: 117px;
    height: 31px;
    margin-right: var(--dl-space-space-unit);
  }
  .bureger-menu-cart-login-text29 {
    font-size: 12px;
  }
  .bureger-menu-cart-login-register3 {
    width: 94px;
    height: 30px;
    margin-right: 2px;
    padding-left: var(--dl-space-space-unit);
  }
  .bureger-menu-cart-login-text30 {
    font-size: 11px;
  }
  .bureger-menu-cart-login-text31 {
    font-size: 11px;
  }
  .bureger-menu-cart-login-container10 {
    width: 445px;
  }
  .bureger-menu-cart-login-form4 {
    width: 421px;
  }
  .bureger-menu-cart-login-navlink3 {
    font-size: 14px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .bureger-menu-cart-login-button28 {
    font-size: 14px;
    box-shadow: rgb(163, 154, 127) 5px 5px 10px 0px;
    background-color: rgb(255, 193, 0);
  }
  .bureger-menu-cart-login-button29 {
    font-size: 14px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .bureger-menu-cart-login-button30 {
    font-size: 14px;
    box-shadow: rgb(163, 154, 127) 5px 5px 10px 0px;
    background-color: rgb(255, 193, 0);
  }
  .bureger-menu-cart-login-button31 {
    font-size: 14px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .bureger-menu-cart-login-text36 {
    font-size: 14px;
  }
  .bureger-menu-cart-login-button33 {
    font-size: 14px;
    box-shadow: rgb(163, 154, 127) 5px 5px 10px 0px;
    background-color: rgb(255, 193, 0);
  }
  .bureger-menu-cart-login-button34 {
    font-size: 14px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media(max-width: 767px) {
  .bureger-menu-cart-login-mobile-menu {
    display: none;
  }
  .bureger-menu-cart-login-btn-group {
    align-self: center;
  }
  .bureger-menu-cart-login-container02 {
    width: 698px;
    justify-content: center;
  }
  .bureger-menu-cart-login-form {
    width: 767px;
    align-self: center;
    margin-top: var(--dl-space-space-twounits);
    align-items: center;
    justify-content: center;
  }
  .bureger-menu-cart-login-categories {
    align-self: center;
    justify-content: center;
  }
  .bureger-menu-cart-login-button01 {
    font-size: 10px;
    margin-left: 0px;
  }
  .bureger-menu-cart-login-button02 {
    font-size: 10px;
  }
  .bureger-menu-cart-login-button03 {
    font-size: 10px;
    box-shadow: rgb(163, 154, 127) 5px 5px 10px 0px;
    background-color: rgb(255, 193, 0);
  }
  .bureger-menu-cart-login-text05 {
    font-size: 10px;
  }
  .bureger-menu-cart-login-button05 {
    font-size: 10px;
  }
  .bureger-menu-cart-login-button06 {
    font-size: 10px;
    box-shadow: rgb(163, 154, 127) 5px 5px 10px 0px;
    background-color: rgb(255, 193, 0);
  }
  .bureger-menu-cart-login-button07 {
    font-size: 10px;
    box-shadow: rgb(163, 154, 127) 5px 5px 10px 0px;
    background-color: rgb(255, 193, 0);
  }
  .bureger-menu-cart-login-button08 {
    font-size: 10px;
    margin-right: 0px;
  }
  .bureger-menu-cart-login-mobile-menu1 {
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    background-color: #d9d9d9;
  }
  .bureger-menu-cart-login-btn-group1 {
    align-self: center;
    margin-top: 0px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: 0px;
  }
  .bureger-menu-cart-login-container04 {
    width: 698px;
    align-self: center;
  }
  .bureger-menu-cart-login-form1 {
    width: 767px;
    margin: var(--dl-space-space-halfunit);
    align-self: center;
    justify-content: center;
  }
  .bureger-menu-cart-login-textinput1 {
    border-width: 2px;
    border-radius: var(--dl-radius-radius-radius8);
    text-transform: capitalize;
  }
  .bureger-menu-cart-login-button09 {
    box-shadow: 0px 5px 10px 0px #7e7b7b;
    border-width: 0px;
    border-radius: var(--dl-radius-radius-radius8);
    background-color: #ff7c00;
  }
  .bureger-menu-cart-login-text11 {
    font-style: normal;
    font-weight: 700;
  }
  .bureger-menu-cart-login-container05 {
    width: 465px;
    height: 644px;
    position: relative;
    align-self: center;
    margin-top: 0px;
    justify-content: space-between;
  }
  .bureger-menu-cart-login-container06 {
    position: relative;
  }
  .bureger-menu-cart-login-button10 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-medium);
    font-size: 15px;
    align-self: center;
    box-shadow: rgb(126, 123, 123) 0px 5px 10px 0px;
    font-style: normal;
    margin-top: 0px;
    font-weight: 700;
    margin-left: 0px;
    border-width: 0px;
    margin-right: 0px;
    padding-left: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    background-color: rgb(255, 193, 0);
  }
  .bureger-menu-cart-login-button11 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-medium);
    font-size: 15px;
    box-shadow: 0px 5px 10px 0px #7e7b7b;
    font-style: normal;
    margin-top: var(--dl-space-space-twounits);
    font-weight: 700;
    margin-left: mixed;
    border-width: 0px;
    margin-right: mixed;
    margin-bottom: var(--dl-space-space-twounits);
    background-color: rgb(255, 193, 0);
  }
  .bureger-menu-cart-login-button12 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-medium);
    font-size: 15px;
    box-shadow: 0px 5px 10px 0px #7e7b7b;
    font-style: normal;
    margin-top: var(--dl-space-space-twounits);
    font-weight: 700;
    margin-left: mixed;
    border-width: 0px;
    margin-right: mixed;
    margin-bottom: var(--dl-space-space-twounits);
    background-color: #ffc100;
  }
  .bureger-menu-cart-login-button13 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-medium);
    font-size: 15px;
    box-shadow: 0px 5px 10px 0px #7e7b7b;
    font-style: normal;
    margin-top: var(--dl-space-space-twounits);
    font-weight: 700;
    margin-left: mixed;
    border-width: 0px;
    margin-right: mixed;
    margin-bottom: var(--dl-space-space-twounits);
    background-color: rgb(255, 193, 0);
  }
  .bureger-menu-cart-login-button14 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-medium);
    padding: 0px;
    font-size: 15px;
    align-self: center;
    box-shadow: 0px 5px 10px 0px #7e7b7b;
    font-style: normal;
    margin-top: 0px;
    text-align: center;
    font-weight: 700;
    margin-left: mixed;
    border-width: 0px;
    margin-right: mixed;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .bureger-menu-cart-login-button15 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-medium);
    align-self: center;
    box-shadow: 0px 5px 10px 0px #7e7b7b;
    margin-top: var(--dl-space-space-twounits);
    margin-left: mixed;
    border-width: 0px;
    margin-right: mixed;
    margin-bottom: var(--dl-space-space-twounits);
    background-color: #ffc100;
  }
  .bureger-menu-cart-login-text14 {
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
  }
  .bureger-menu-cart-login-button16 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-medium);
    font-size: 15px;
    align-self: center;
    box-shadow: 0px 5px 10px 0px #7e7b7b;
    font-style: normal;
    margin-top: var(--dl-space-space-twounits);
    font-weight: 700;
    margin-left: mixed;
    border-width: 0px;
    margin-right: mixed;
    margin-bottom: var(--dl-space-space-twounits);
    background-color: rgb(255, 193, 0);
  }
  .bureger-menu-cart-login-button17 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-medium);
    font-size: 15px;
    align-self: center;
    box-shadow: 0px 5px 10px 0px #7e7b7b;
    font-style: normal;
    margin-top: var(--dl-space-space-twounits);
    font-weight: 700;
    margin-left: mixed;
    border-width: 0px;
    margin-right: mixed;
    margin-bottom: var(--dl-space-space-twounits);
    background-color: #ffc100;
  }
  .bureger-menu-cart-login-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .bureger-menu-cart-login-icon12 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    display: flex;
  }
  .bureger-menu-cart-login-container08 {
    display: none;
  }
  .bureger-menu-cart-login-btn-group2 {
    display: none;
  }
  .bureger-menu-cart-login-body {
    height: 853px;
    align-items: center;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    justify-content: flex-start;
    background-color: #D9D9D9;
  }
  .bureger-menu-cart-login-categories1 {
    display: none;
  }
  .bureger-menu-cart-login-navlink1 {
    font-size: 10px;
    margin-left: 0px;
  }
  .bureger-menu-cart-login-button19 {
    font-size: 10px;
  }
  .bureger-menu-cart-login-button20 {
    font-size: 10px;
    box-shadow: rgb(163, 154, 127) 5px 5px 10px 0px;
    background-color: rgb(255, 193, 0);
  }
  .bureger-menu-cart-login-text25 {
    font-size: 10px;
  }
  .bureger-menu-cart-login-button22 {
    font-size: 10px;
  }
  .bureger-menu-cart-login-button23 {
    font-size: 10px;
    box-shadow: rgb(163, 154, 127) 5px 5px 10px 0px;
    background-color: rgb(255, 193, 0);
  }
  .bureger-menu-cart-login-button24 {
    font-size: 10px;
    box-shadow: rgb(163, 154, 127) 5px 5px 10px 0px;
    background-color: rgb(255, 193, 0);
  }
  .bureger-menu-cart-login-button25 {
    font-size: 10px;
    margin-right: 0px;
  }
  .bureger-menu-cart-login-search {
    align-items: center;
    justify-content: center;
  }
  .bureger-menu-cart-login-form3 {
    height: 43px;
    align-self: center;
  }
  .bureger-menu-cart-login-image3 {
    width: 100%;
    height: 218px;
  }
  .bureger-menu-cart-login-mobile-menu2 {
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    background-color: #d9d9d9;
  }
  .bureger-menu-cart-login-btn-group3 {
    width: 372px;
    align-self: center;
    align-items: center;
    padding-left: 0px;
    justify-content: center;
  }
  .bureger-menu-cart-login-login3 {
    width: 152px;
  }
  .bureger-menu-cart-login-container10 {
    width: 698px;
    align-self: center;
  }
  .bureger-menu-cart-login-form4 {
    width: 767px;
    margin: var(--dl-space-space-halfunit);
    align-self: center;
    justify-content: center;
  }
  .bureger-menu-cart-login-textinput3 {
    border-width: 2px;
    border-radius: var(--dl-radius-radius-radius8);
    text-transform: capitalize;
  }
  .bureger-menu-cart-login-button27 {
    box-shadow: 0px 5px 10px 0px #7e7b7b;
    border-width: 0px;
    border-radius: var(--dl-radius-radius-radius8);
    background-color: #ff7c00;
  }
  .bureger-menu-cart-login-text33 {
    font-style: normal;
    font-weight: 700;
  }
  .bureger-menu-cart-login-container11 {
    width: 465px;
    height: 644px;
    position: relative;
    align-self: center;
    margin-top: 0px;
    justify-content: space-between;
  }
  .bureger-menu-cart-login-container12 {
    position: relative;
  }
  .bureger-menu-cart-login-navlink3 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-medium);
    font-size: 15px;
    align-self: center;
    box-shadow: rgb(126, 123, 123) 0px 5px 10px 0px;
    font-style: normal;
    margin-top: 0px;
    font-weight: 700;
    margin-left: 0px;
    border-width: 0px;
    margin-right: 0px;
    padding-left: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    background-color: rgb(255, 193, 0);
  }
  .bureger-menu-cart-login-button28 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-medium);
    font-size: 15px;
    box-shadow: 0px 5px 10px 0px #7e7b7b;
    font-style: normal;
    margin-top: var(--dl-space-space-twounits);
    font-weight: 700;
    margin-left: mixed;
    border-width: 0px;
    margin-right: mixed;
    margin-bottom: var(--dl-space-space-twounits);
    background-color: rgb(255, 193, 0);
  }
  .bureger-menu-cart-login-button29 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-medium);
    font-size: 15px;
    box-shadow: 0px 5px 10px 0px #7e7b7b;
    font-style: normal;
    margin-top: var(--dl-space-space-twounits);
    font-weight: 700;
    margin-left: mixed;
    border-width: 0px;
    margin-right: mixed;
    margin-bottom: var(--dl-space-space-twounits);
    background-color: #ffc100;
  }
  .bureger-menu-cart-login-button30 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-medium);
    font-size: 15px;
    box-shadow: 0px 5px 10px 0px #7e7b7b;
    font-style: normal;
    margin-top: var(--dl-space-space-twounits);
    font-weight: 700;
    margin-left: mixed;
    border-width: 0px;
    margin-right: mixed;
    margin-bottom: var(--dl-space-space-twounits);
    background-color: rgb(255, 193, 0);
  }
  .bureger-menu-cart-login-button31 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-medium);
    padding: 0px;
    font-size: 15px;
    align-self: center;
    box-shadow: 0px 5px 10px 0px #7e7b7b;
    font-style: normal;
    margin-top: 0px;
    text-align: center;
    font-weight: 700;
    margin-left: mixed;
    border-width: 0px;
    margin-right: mixed;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .bureger-menu-cart-login-button32 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-medium);
    align-self: center;
    box-shadow: 0px 5px 10px 0px #7e7b7b;
    margin-top: var(--dl-space-space-twounits);
    margin-left: mixed;
    border-width: 0px;
    margin-right: mixed;
    margin-bottom: var(--dl-space-space-twounits);
    background-color: #ffc100;
  }
  .bureger-menu-cart-login-text36 {
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
  }
  .bureger-menu-cart-login-button33 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-medium);
    font-size: 15px;
    align-self: center;
    box-shadow: 0px 5px 10px 0px #7e7b7b;
    font-style: normal;
    margin-top: var(--dl-space-space-twounits);
    font-weight: 700;
    margin-left: mixed;
    border-width: 0px;
    margin-right: mixed;
    margin-bottom: var(--dl-space-space-twounits);
    background-color: rgb(255, 193, 0);
  }
  .bureger-menu-cart-login-button34 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-medium);
    font-size: 15px;
    align-self: center;
    box-shadow: 0px 5px 10px 0px #7e7b7b;
    font-style: normal;
    margin-top: var(--dl-space-space-twounits);
    font-weight: 700;
    margin-left: mixed;
    border-width: 0px;
    margin-right: mixed;
    margin-bottom: var(--dl-space-space-twounits);
    background-color: #ffc100;
  }
}
@media(max-width: 479px) {
  .bureger-menu-cart-login-mobile-menu {
    display: flex;
    padding: 16px;
  }
  .bureger-menu-cart-login-container02 {
    align-self: center;
  }
  .bureger-menu-cart-login-form {
    width: 479px;
  }
  .bureger-menu-cart-login-mobile-menu1 {
    padding: 16px;
  }
  .bureger-menu-cart-login-container04 {
    align-self: center;
  }
  .bureger-menu-cart-login-container05 {
    width: 366px;
  }
  .bureger-menu-cart-login-button10 {
    margin-right: var(--dl-space-space-oneandhalfunits);
  }
  .bureger-menu-cart-login-button11 {
    margin-right: var(--dl-space-space-oneandhalfunits);
  }
  .bureger-menu-cart-login-button12 {
    margin-right: var(--dl-space-space-oneandhalfunits);
  }
  .bureger-menu-cart-login-button13 {
    margin-right: var(--dl-space-space-oneandhalfunits);
  }
  .bureger-menu-cart-login-button14 {
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .bureger-menu-cart-login-button15 {
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .bureger-menu-cart-login-button16 {
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .bureger-menu-cart-login-button17 {
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .bureger-menu-cart-login-header {
    padding: var(--dl-space-space-unit);
  }
  .bureger-menu-cart-login-icon12 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .bureger-menu-cart-login-body {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .bureger-menu-cart-login-text28 {
    font-size: 13px;
    text-align: center;
  }
  .bureger-menu-cart-login-form3 {
    align-items: center;
    justify-content: center;
  }
  .bureger-menu-cart-login-image3 {
    width: 100%;
    height: 266px;
  }
  .bureger-menu-cart-login-mobile-menu2 {
    padding: 16px;
  }
  .bureger-menu-cart-login-container10 {
    align-self: center;
  }
  .bureger-menu-cart-login-container11 {
    width: 366px;
  }
  .bureger-menu-cart-login-navlink3 {
    margin-right: var(--dl-space-space-oneandhalfunits);
  }
  .bureger-menu-cart-login-button28 {
    margin-right: var(--dl-space-space-oneandhalfunits);
  }
  .bureger-menu-cart-login-button29 {
    margin-right: var(--dl-space-space-oneandhalfunits);
  }
  .bureger-menu-cart-login-button30 {
    margin-right: var(--dl-space-space-oneandhalfunits);
  }
  .bureger-menu-cart-login-button31 {
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .bureger-menu-cart-login-button32 {
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .bureger-menu-cart-login-button33 {
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .bureger-menu-cart-login-button34 {
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
}
